 

.m1 {
	border: 6px solid #d6e3f6;
	display: none;
	 top:30px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}

 
.m11 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
	
}

.m12 {
	float: left;
	width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m13 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m14 {
	float: left;
		width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}
.p1 a
{
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.p1 a:hover
{
	text-decoration: underline;
	color: red;
}
.s1 a{
	display: block;
	color: red;
	text-decoration: none;
	margin-top: 15px;
	font-size: 12px;
	 
}
.footer1
{
	height: 30px;
	clear: both;
	background: #d6e3f6 ;
	text-align: center;
	padding-top:10px ;
}
.footer1 a
{
	text-decoration: none;
	color:#09658e;
}


 

.m2 {
	border: 6px solid #d6e3f6;
	display: none;
	 top:60px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}

 
.m21 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
	
}

.m22 {
	float: left;
	width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m23 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m24 {
	float: left;
		width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}
.p2 a
{
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.p2 a:hover
{
	text-decoration: underline;
	color: red;
}
.s2 a{
	display: block;
	color: red;
	text-decoration: none;
	margin-top: 15px;
	font-size: 12px;
	 
}
.footer2
{
	height: 30px;
	clear: both;
	background: #d6e3f6 ;
	text-align: center;
	padding-top:10px ;
}
.footer2 a
{
	text-decoration: none;
	color:#09658e;
}










 

.m3 {
	border: 6px solid #d6e3f6;
	display: none;
	 top:90px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}

 
.m31 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
	
}

.m32 {
	float: left;
	width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m33 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m34 {
	float: left;
		width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}
.p3 a
{
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.p3 a:hover
{
	text-decoration: underline;
	color: red;
}
.s3 a{
	display: block;
	color: red;
	text-decoration: none;
	margin-top: 15px;
	font-size: 12px;
	 
}
.footer3
{
	height: 30px;
	clear: both;
	background: #d6e3f6 ;
	text-align: center;
	padding-top:10px ;
}
.footer3 a
{
	text-decoration: none;
	color:#09658e;
}












 

.m4 {
	border: 6px solid #d6e3f6;
	display: none;
	 top:120px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}

 
.m41 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
	
}

.m42 {
	float: left;
	width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m43 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m44 {
	float: left;
		width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}
.p4 a
{
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.p4 a:hover
{
	text-decoration: underline;
	color: red;
}
.s4 a{
	display: block;
	color: red;
	text-decoration: none;
	margin-top: 15px;
	font-size: 12px;
	 
}
.footer4
{
	height: 30px;
	clear: both;
	background: #d6e3f6 ;
	text-align: center;
	padding-top:10px ;
}
.footer4 a
{
	text-decoration: none;
	color:#09658e;
}







 

.m5 {
	border: 6px solid #d6e3f6;
	display: none;
	 top:150px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}

 
.m51 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
	
}

.m52 {
	float: left;
	width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m53 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m54 {
	float: left;
		width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}
.p5 a
{
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.p5 a:hover
{
	text-decoration: underline;
	color: red;
}
.s5 a{
	display: block;
	color: red;
	text-decoration: none;
	margin-top: 15px;
	font-size: 12px;
	 
}
.footer5
{
	height: 30px;
	clear: both;
	background: #d6e3f6 ;
	text-align: center;
	padding-top:10px ;
}
.footer5 a
{
	text-decoration: none;
	color:#09658e;
}











.m6 {
	border: 6px solid #d6e3f6;
	display: none;
	 top:180px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}

 
.m61 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
	
}

.m62 {
	float: left;
	width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m63 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m64 {
	float: left;
		width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}
.p6 a
{
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.p6 a:hover
{
	text-decoration: underline;
	color: red;
}
.s6 a{
	display: block;
	color: red;
	text-decoration: none;
	margin-top: 15px;
	font-size: 12px;
	 
}
.footer6
{
	height: 30px;
	clear: both;
	background: #d6e3f6 ;
	text-align: center;
	padding-top:10px ;
}
.footer6 a
{
	text-decoration: none;
	color:#09658e;
}



.m7{
	border: 6px solid #d6e3f6;
	display: none;
	 top:210px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}

 
.m71 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
	
}

.m72 {
	float: left;
	width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m73 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m74 {
	float: left;
		width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}
.p7 a
{
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.p7 a:hover
{
	text-decoration: underline;
	color: red;
}
.s7 a{
	display: block;
	color: red;
	text-decoration: none;
	margin-top: 15px;
	font-size: 12px;
	 
}
.footer7
{
	height: 30px;
	clear: both;
	background: #d6e3f6 ;
	text-align: center;
	padding-top:10px ;
}
.foote7 a
{
	text-decoration: none;
	color:#09658e;
}





.m8{
	border: 6px solid #d6e3f6;
	display: none;
	 top:240px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}

 
.m81 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
	
}

.m82 {
	float: left;
	width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m83 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m84 {
	float: left;
		width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}
.p8 a
{
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.p8 a:hover
{
	text-decoration: underline;
	color: red;
}
.s8 a{
	display: block;
	color: red;
	text-decoration: none;
	margin-top: 15px;
	font-size: 12px;
	 
}
.footer8
{
	height: 30px;
	clear: both;
	background: #d6e3f6 ;
	text-align: center;
	padding-top:10px ;
}
.foote8 a
{
	text-decoration: none;
	color:#09658e;
}







.m9{
	border: 6px solid #d6e3f6;
	display: none;
	 top:270px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}

 
.m91 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
	
}

.m92 {
	float: left;
	width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m93 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m94 {
	float: left;
		width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}
.p9 a
{
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.p9 a:hover
{
	text-decoration: underline;
	color: red;
}
.s9 a{
	display: block;
	color: red;
	text-decoration: none;
	margin-top: 15px;
	font-size: 12px;
	 
}
.footer9
{
	height: 30px;
	clear: both;
	background: #d6e3f6 ;
	text-align: center;
	padding-top:10px ;
}
.foote9 a
{
	text-decoration: none;
	color:#09658e;
}





.m10{
	border: 6px solid #d6e3f6;
	display: none;
	 top:310px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}

 
.m101 {
	float: left;
		width: 300px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
	
}

.m102 {
	float: left;
	width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m103 {
	float: left;
		width: 240px;
	padding-left: 10px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}

.m104 {
	float: left;
		width: 240px;
	padding-left: 50px;
	border-bottom-style: dashed;
	border-bottom-color:gainsboro ;
	border-bottom-width:1px ;
}
.p10 a
{
	text-decoration: none;
	color:black;
	font-size: 13px;
}
.p10 a:hover
{
	text-decoration: underline;
	color: red;
}
.s10 a{
	display: block;
	color: red;
	text-decoration: none;
	margin-top: 15px;
	font-size: 12px;
	 
}
.footer10
{
	height: 30px;
	clear: both;
	background: #d6e3f6 ;
	text-align: center;
	padding-top:10px ;
}
.foote10 a
{
	text-decoration: none;
	color:#09658e;
}


.m111{
	border: 6px solid #d6e3f6;
	display: none;
	 top:340px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}



.m121{
	border: 6px solid #d6e3f6;
	display: none;
	 top:350px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}



.m131{
	border: 6px solid #d6e3f6;
	display: none;
	 top:370px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}


.m141{
	border: 6px solid #d6e3f6;
	display: none;
	 top:400px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}


.m151{
	border: 6px solid #d6e3f6;
	display: none;
	 top:430px;
	position: absolute;
	left: 100px;
	width: 550px;
	background: white;
}




.mm1{
	border: 6px solid #d6e3f6;
	display: none;
	 top:30px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm2{
	border: 6px solid #d6e3f6;
	display: none;
	 top:60px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm3{
	border: 6px solid #d6e3f6;
	display: none;
	 top:90px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm4{
	border: 6px solid #d6e3f6;
	display: none;
	 top:120px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm5{
	border: 6px solid #d6e3f6;
	display: none;
	 top:150px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm6{
	border: 6px solid #d6e3f6;
	display: none;
	 top:180px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm7{
	border: 6px solid #d6e3f6;
	display: none;
	 top:210px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm8{
	border: 6px solid #d6e3f6;
	display: none;
	 top:240px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}



.mm9{
	border: 6px solid #d6e3f6;
	display: none;
	 top:270px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm10{
	border: 6px solid #d6e3f6;
	display: none;
	 top:300px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}



.mm11{
	border: 6px solid #d6e3f6;
	display: none;
	 top:335px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm12{
	border: 6px solid #d6e3f6;
	display: none;
	 top:350px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}



.mm13{
	border: 6px solid #d6e3f6;
	display: none;
	 top:370px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm14{
	border: 6px solid #d6e3f6;
	display: none;
	 top:380px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mm15{
	border: 6px solid #d6e3f6;
	display: none;
	 top:410px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}



.mmm1{
	border: 6px solid #d6e3f6;
	display: none;
	top:30px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mmm2{
	border: 6px solid #d6e3f6;
	display: none;
	top:60px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}

.mmm3{
	border: 6px solid #d6e3f6;
	display: none;
	top:90px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}
 
 
.mmm4{
	border: 6px solid #d6e3f6;
	display: none;
	top:120px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mmm5{
	border: 6px solid #d6e3f6;
	display: none;
	top:150px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
} 


.mmm6{
	border: 6px solid #d6e3f6;
	display: none;
	top:180px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mmm7{
	border: 6px solid #d6e3f6;
	display: none;
	top:215px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mmm8{
	border: 6px solid #d6e3f6;
	display: none;
	top:250px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}



.mmm9{
	border: 6px solid #d6e3f6;
	display: none;
	top:280px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}



.mmm10{
	border: 6px solid #d6e3f6;
	display: none;
	top:310px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mmm11{
	border: 6px solid #d6e3f6;
	display: none;
	top:320px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mmm12{
	border: 6px solid #d6e3f6;
	display: none;
	top:330px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mmm13{
	border: 6px solid #d6e3f6;
	display: none;
	top:350px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}


.mmm14{
	border: 6px solid #d6e3f6;
	display: none;
	top:370px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}

.mmm15{
	border: 6px solid #d6e3f6;
	display: none;
	top:400px;
	position: absolute;
	left: 110px;
	width: 550px;
	background: white;
}











	.appraise1_footer .appraise1_footer_1 {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}
	
	.appraise1_footer .appraise1_footer_1 ul {
		margin: 0 auto;
	}
	
	.appraise1_footer .appraise1_footer_1 ul li {
		float: left;
		list-style: none;
		padding: 3px;
		font-size: 13px;
		margin-bottom: 8px;
	}
	
	.appraise1_footer .appraise1_footer_1 ul li a {
		color: black;
		text-decoration: none;
	}
	
	.appraise1_footer .appraise1_footer_1 ul li a:hover {
		color: red;
		text-decoration: underline;
	}
	
	.appraise1_footer .appraise1_footer_1 p {
		clear: both;
		font-size: 12px;
		text-align: center;
	}
	
	.hr3 {
		margin-top: -40px;
		width: 100%;
		border: 1px solid gainsboro;
	}
	
	.hr4 {
		width: 100%;
		border: 2px solid #09658e;
	}






 